{{ $src := .Page.Resources.GetMatch (printf "%s" (.Destination | safeURL)) }}
{{ if $src }}

<figure class="full-width">
    {{ $data := newScratch }}
    {{ if gt $src.Width 1100 }}
      {{ $data.Set "webp" ($src.Resize "1100x webp q90") }}
    {{ else }}
      {{ $data.Set "webp" ($src.Resize (printf "%dx%d webp q90" $src.Width $src.Height)) }}
    {{ end }}

    {{ $webp := $data.Get "webp" }}

    <a href="{{ $src }}">
      <img src="{{ $webp.RelPermalink }}" alt="{{ .Text }}" loading="lazy" decoding="async" width="{{ $src.Width }}" height="{{ $src.Height }}" />
    </a>
    {{ with .Title }}<figcaption>{{ . }}</figcaption>{{ end }}
</figure>
{{end}}