:root {
  --text-color: #a9b1d6;
  --primary-color: #ff9e64;
  --background-color: #1a1b26;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-weight: 400;
  font-size: 150%;
  line-height: 1.5;
  margin: 0;
}

a {
  color: var(--primary-color);
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 1em;
}

/* LAYOUT */

.container {
  max-width: 45em;
  padding: 5em 1em;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 1em;
  }
}

/* SITE HEADER */

.site-header {
  display: flex;
  align-items: center;
}

.site-header a {
  display: block;
  color: var(--text-color);
  padding: 0.5em;
  margin-right: 5px;
}

.site-header li:last-child a {
  margin-right: 0;
}

.site-header .logo {
  color: var(--primary-color);
  padding-left: 0;
}

.site-header ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social {
  margin-left: auto;
}

.social svg {
  display: block;
}

.social path {
  fill: var(--primary-color);
}

@media screen and (max-width: 768px) {
  .site-header,
  .site-header nav ul {
    flex-direction: column;
    align-items: initial;
  }

  .site-header a {
    padding: 0.25em 1em 0.25em 0;
  }

  .social {
    padding-top: 10px;
    margin-left: 0;
  }
}

/* HOME PAGE */

.intro {
  margin-bottom: 3em;
}

/* BLOG */

.summary {
  display: block;
  margin-bottom: 10px;
}

.summary h3 {
  display: inline;
  color: var(--link-color);
}

.summary a {
  margin-right: 0.5em;
}
