/* Variables */
:root {
    --color-background: #181825;
    --color-text: #cdd6f4;
    --color-text-strong: #eff1f5;
    --color-subtext: #7f849c;
    --color-primary: #a6e3a1;
    --color-secondary: #fab387;

    --font-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    --font-sans: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    --font-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace; 
}

/* Global styles */
body {
    background-color: var(--color-background);
    color: var(--color-text);
    font: 1.2rem/1.625 var(--font-sans);
    margin: 0 auto;
}

@media screen and (max-width: 64rem) {
    body {
        font-size: 100%;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serif);
    color: var(--color-text-strong);
}

h1 {
    font-size: 2em;
    line-height: 1.25;
    margin-top: 0;
}

a {
    color: var(--color-secondary);
}

strong {
    color: var(--color-text-strong);
}

code {
    overflow-wrap: break-word;
}

date, svg {
    display: block;
}

.icon-inline {
    display: inline-block;
    vertical-align: text-top;
    padding-right: 5px;
}

figure {
    margin: 2rem auto 1rem;
    text-align: center;
}

figure img {
    max-width: 100%;
}

figcaption {
    color: var(--color-subtext);
    font-size: 1rem;
    font-style: italic;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.content {
    max-width: 60rem;
    padding: 3rem;
    margin: 0 auto 2rem;
}

.content > * {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
}

.content > figure {
    max-width: 100%;
}

@media screen and (max-width: 64rem) {
    .content {
        padding-top: 1rem;
        padding-left: 5vw;
        padding-right: 5vw;
        margin-bottom: 0;
    }
}

/* Header and navigation */

.site-header {
    padding: 3rem 5vw;
}

.site-nav {
    max-width: 96rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.site-nav .logo {
    color: var(--color-text-strong);
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 0;
    text-decoration: none;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu a {
    display: block;
    padding: 1rem;
    color: var(--color-primary);
}

.site-nav .menu-social a {
    padding: 1rem 0.75rem;
}

.site-nav .menu-social li:last-child a {
    padding-right: 0;
}

@media screen and (max-width: 64rem) {
    .site-header {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .site-nav,
    .menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .site-nav a {
        padding: 0.25rem 0.5rem;
        padding-left: 0;
    }

    .site-nav .menu-social {
        display: none;
    }
}

/* Home page */

.hero {
    max-width: 100%;
    display: flex;
    margin-bottom: 4rem;
}

.hero div:first-child {
    flex-basis: 65%;
    padding-right: 2.5rem;
}

.hero div:last-child {
    flex-basis: 35%;
}

.hero img {
    border-radius: 50%;
    width: 100%;
}

@media screen and (max-width: 64rem) {
    .hero {
        flex-direction: column-reverse;
    }

    .hero img {
        max-width: 250px;
        margin-bottom: 1rem;
    }
}

.home-posts {
    list-style: none;
    padding: 0;
}

.home-posts-item {
    margin-bottom: 1rem;
}

.home-posts-item a {
    font-weight: bold;
}

/* Footer */

.site-footer {
    max-width: 65rem;
    padding: 3rem;
    padding-top: 1rem;
    margin: 0 auto 2rem;
}

.site-footer p {
    color: var(--color-subtext);
    font-size: 1rem;
    text-align: center;
}

.site-footer .menu {
    justify-content: center;
    flex-direction: row;
}

.site-footer .menu a {
    padding: 0.5rem;
}

@media screen and (max-width: 64rem) {
    .site-footer {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .site-footer p {
        font-size: 0.75rem;
    }

    .site-footer .menu a svg {
        width: 20px;
        height: 20px;
    }
}


/* List pages */

.post-snippet {
    margin-bottom: 1rem;
}

.post-snippet h3 {
    margin-top: 0;
}

.post-date {
    color: var(--color-subtext);
    display: block;
    font-size: 1rem;
    font-style: italic;
}

/* Single posts/pages */

.single-header {
    max-width: 100%;
    margin-bottom: 3rem;
}

.single-header > * {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
}

.single-title {
    margin-bottom: 1rem;
}

.single-date {
    display: block;
    color: var(--color-subtext);
    font-style: italic;
}

.single-header figure {
    max-width: 100%;
}
