/* LAYOUT */

body {
  background-color: #131313;
  color: #f7f1ff;
  font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman,
    Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
  font-size: 125%;
  line-height: 1.5;
  max-width: 65rem;
  padding: 1rem;
  margin: 0 auto;
}

@media screen and (max-width: 48rem) {
  body {
    font-size: 100%;
  }
}

h1 {
  font-size: 2em;
  line-height: 1.25;
  margin-top: 0;
}

a {
  color: #fd9353;
}

code {
  overflow-wrap: break-word;
}

.icon {
  width: 20px;
  height: 20px;
  vertical-align: text-top;
  padding-right: 5px;
}

.content {
  margin-bottom: 2rem;
}

/* HOME */

.hero {
  display: flex;
}

.hero div:first-child {
  flex-basis: 65%;
  padding-right: 2.5rem;
}

.hero div:last-child {
  flex-basis: 35%;
}

.hero img {
  border-radius: 50%;
  width: 100%;
}

@media screen and (max-width: 48rem) {
  .hero {
    flex-direction: column-reverse;
  }

  .hero img {
    max-width: 250px;
    margin-bottom: 1rem;
  }
}

/* NAVIGATION */

.site-header {
  margin-bottom: 2rem;
}

.site-nav {
  display: flex;
}

.site-nav a {
  display: block;
  padding: 1rem;
  color: #f7f1ff;
}

.site-nav .logo {
  font-weight: bold;
  padding-left: 0;
  color: #fc618d;
}

.main-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 48rem) {
  .site-nav,
  .main-menu {
    flex-direction: column;
  }

  .site-nav a {
    padding: 0.5rem;
    padding-left: 0;
  }
}

/* LISTS */

.post-snippet {
  margin-bottom: 1rem;
}

.post-snippet h3 {
  margin-bottom: 0.25rem;
}
