/* Variables */
:root {
    --color-background: #181825;
    --color-background-alt: #24273a;
    --color-text: #cdd6f4;
    --color-text-strong: #eff1f5;
    --color-subtext: #7f849c;
    --color-primary: #a6e3a1;
    --color-secondary: #fab387;
    --color-tertiary: #89b4fa;

    --font-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    --font-sans: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    --font-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace; 

    --border-radius: 1rem;
}

/* Global styles */
* {
    margin: 0;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font: 1.2rem/1.65 var(--font-sans);
    margin: 0 auto;
}

@media screen and (max-width: 64rem) {
    body {
        font-size: 1.125rem;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serif);
    color: var(--color-text-strong);
}

h1 {
    font-size: 2em;
    line-height: 1.25;
    margin-bottom: 2rem;
}

h2 {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

p {
    margin-bottom: 1.5rem;
}

a {
    color: var(--color-secondary);
}

strong {
    color: var(--color-text-strong);
}

ul {
    margin-bottom: 1.5rem;
    padding: 0 0 0 1.25rem;
}

li {
    margin-bottom: 0.5rem;
}

.content > code {
    font-family: var(--font-mono);
    color: var(--color-text-strong);
    font-weight: bold;
    overflow-wrap: break-word;
}

pre {
    font-family: var(--font-mono);
    font-size: 1rem;
    overflow: auto;
    border-radius: var(--border-radius);
    padding: 1.6rem 1.8rem 1.8rem;
    margin-bottom: 3rem;
}

date, svg {
    display: block;
}

.icon-inline {
    display: inline-block;
    vertical-align: text-top;
    padding-right: 5px;
}

figure {
    margin: 2rem auto 1rem;
    text-align: center;
}

figure img {
    max-width: 100%;
}

figcaption {
    color: var(--color-subtext);
    font-size: 1rem;
    font-style: italic;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

/* Page layout */

.content {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    max-width: 80rem;
    padding: 3rem 0;
    margin: 0 auto 2rem;
}

.content > * {
    grid-column: 3/span 8;
}

.content > .full-width {
    grid-column: 2/span 10;
}

.content-inner {
    display: grid;
    grid-template-columns: repeat(10, minmax(0, 1fr));
}

.content-inner > * {
    grid-column: 2/span 8;
}

.content-inner > .full-width {
    grid-column: 1/-1;
}


@media screen and (max-width: 64rem) {
    .content {
        padding-top: 1rem;
        padding-left: 5vw;
        padding-right: 5vw;
        margin-bottom: 0;
    }

    .content > * {
        grid-column: 2/span 10;
    }

    .content > .full-width {
        grid-column: 1/-1;
    }

    .content-inner {
        grid-template-columns: repeat(12, minmax(0, 1fr));
    }
}

@media screen and (max-width: 48rem) {
    .content > *, .content-inner > * {
        grid-column: 1/-1;
    }
}

/* Additional elements */

.card {
    margin-bottom: 3rem;
    padding: 1.25rem 0 2.75rem;
    position: relative;
}

.card-background {
    background-color: var(--color-background-alt);
    border-radius: var(--border-radius);
    position: absolute;
    width: calc(100% + 10vw);
    height: 100%;
    margin-left: -5vw;
    margin-right: -5vw;
    inset: 0;
}

.card-content {
    position: relative;
}

@media screen and (max-width: 48rem) {
    .card-background {
        border-radius: 0;
    }
}

.note {
    background-color: var(--color-background-alt);
    border-radius: var(--border-radius);
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    padding: 1.5rem 2rem 1.5rem;
}

.note-header {
    display: block;
    margin-bottom: 0.75rem;
}

/* Header and navigation */

.site-header {
    padding: 3rem 5vw;
}

.site-nav {
    max-width: 96rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.site-nav .logo {
    color: var(--color-text-strong);
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 0;
    text-decoration: none;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-bottom: 0;
}

.menu a {
    display: block;
    padding: 1rem;
    color: var(--color-primary);
}

.site-nav .menu-social a {
    padding: 1rem 0.75rem;
}

.site-nav .menu-social li:last-child a {
    padding-right: 0;
}

@media screen and (max-width: 64rem) {
    .site-nav .menu-social {
        display: none;
    }

    .site-nav .menu li:last-child a {
        padding-right: 0;
    }
}

@media screen and (max-width: 48rem) {
    .site-header {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .site-nav,
    .menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .site-nav a {
        padding: 0.25rem 0.5rem;
        padding-left: 0;
    }
}

/* Home page */

.hero {
    max-width: 100%;
    display: flex;
    margin-bottom: 4rem;
}

.hero div:first-child {
    flex-basis: 65%;
    padding-right: 2.5rem;
}

.hero div:last-child {
    flex-basis: 35%;
}

.hero img {
    border-radius: 50%;
    width: 100%;
}

@media screen and (max-width: 64rem) {
    .hero {
        flex-direction: column-reverse;
    }

    .hero img {
        max-width: 250px;
        margin-bottom: 1rem;
    }
}

.home-posts {
    list-style: none;
    padding: 0;
}

.home-posts-item {
    margin-bottom: 1rem;
}

.home-posts-item a {
    font-weight: bold;
}

/* Footer */

.site-footer {
    max-width: 65rem;
    padding: 3rem;
    padding-top: 1rem;
    margin: 0 auto 2rem;
}

.site-footer p {
    color: var(--color-subtext);
    font-size: 1rem;
    text-align: center;
}

.site-footer .menu {
    justify-content: center;
    flex-direction: row;
}

.site-footer .menu a {
    padding: 0.5rem;
}

@media screen and (max-width: 64rem) {
    .site-footer {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .site-footer p {
        font-size: 0.75rem;
    }

    .site-footer .menu a svg {
        width: 20px;
        height: 20px;
    }
}


/* List pages */

.post-snippet {
    margin-bottom: 1rem;
}

.post-date {
    color: var(--color-subtext);
    display: block;
    font-size: 1rem;
    font-style: italic;
}

/* Single posts/pages */

.single-header {
    max-width: 100%;
    margin-bottom: 3rem;
}

.single-title {
    margin-bottom: 1rem;
}

.single-date {
    display: block;
    color: var(--color-subtext);
    font-style: italic;
}
