<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {{ block "title" . }}
        {{ .Site.Title }}
      {{ end }}
    </title>
	<link rel="stylesheet" href="/css/style.css" type="text/css" media="all">
  </head>

  <body>
	<div class="container">
    <header class="site-header">
      {{ block "header" . }}
	<a class="logo" href="/">{{ .Site.Title }}</a>
        {{ partial "menu" . }}
        {{ partial "social" . }}
      {{ end }}
    </header>
    {{ block "main" . }}
      <main>
        <h1>{{ .Page.Title }}</h1>
        {{ .Content }}
      <main>
    {{ end }}
	</div>
  </body>
</html>
