<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
	<link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
	<link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
	{{ with .OutputFormats.Get "rss" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}
	<script async defer data-domains="ericmurphy.xyz" data-website-id="b74ca2af-7174-4bb3-bf4f-541cb4448d48" src="https://umami.ericmurphy.xyz/umami.js"></script>
</head>

<body>

{{ partial "nav.html" . }}
<main class="content">
