{{ $date := .PublishDate.UTC.Format "Jan 2, 2006" }}
{{ $lastmod := .Lastmod.UTC.Format "Jan 2, 2006" }}
{{ $image := (.Resources.ByType "image").GetMatch "images/*featured*" }}

<header class="single-header">
    <h1 class="single-title">{{ .Title }}</h1>

    {{ if (not .PublishDate.IsZero) }}
    <time class="single-date" datetime="{{ .PublishDate }}" title="{{ .PublishDate }}">Published on {{ $date }}</time>
    {{ end }}

    {{ if and ( .Lastmod ) ( ne .Lastmod .PublishDate) }}
    <time class="single-date" datetime="{{ .Lastmod }}" title="{{ .Lastmod }}">Updated on {{ $lastmod }}</time>
    {{ end }}

    {{ with .Params.featured_image }}
        {{ $src := print "images/" . }}
        {{ $original := resources.Get $src }}
        {{ $image := resources.Get $src }}
        {{ $webp := $image.Resize "960x webp q90" }}
        {{ if gt $image.Width 960 }}
        {{ $image = $image.Resize "960x" }}
        {{ end }}

        <figure>
        <a href="{{ $original.RelPermalink }}">
            <picture>
                <source srcset="{{ $webp.RelPermalink }}" type="image/webp">
                <img src="{{ $image.RelPermalink }}" />
            </picture>
        </a>
        </figure>
    {{ end }}
</header>
