{{ partial "header.html" . }}

<section class="hero">
<div>
{{ .Content }}
</div>
<div>
<img src="/images/eric.jpg" alt="Eric Murphy" />
</div>
</section>

<h2>Latest posts</h2>
<ul class="home-posts">
{{ range ( where .Site.RegularPages "Type" "blog" | first 5 ) }}
<li class="home-posts-item">
    <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .PublishDate.Format "January 2, 2006" }}</time>
    <a href="{{ .Permalink }}">{{ .Title }}</a>
</li>
{{end}}
</ul>

{{ partial "footer.html" . }}

